.home-overview{
    overflow-y: auto;
    position: relative;
}
.expaned-post-container{
    position: fixed;
    left: 13%;
    right: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    z-index: 5;
}
.expaned-post-container .hide-post{
    position: fixed;
    right: 15px;
    top: 15px;
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s all;
}
.expaned-post-container .hide-post:hover{
    color: rgba(255,255,255,0.75);
}