.single-post{
    /* min-height: 125px; */
    background-color: rgba(255, 165, 165, 0.35);
    border-radius: 5px;
}
.single-post h3{
    font-family: 'Montserrat-Regular';
    font-size: 20px;
}
.single-post .post-description{
    font-family: 'Montserrat-Light';
    font-size: 15px;
}