.single-post{
    background-color: rgba(255, 165, 165, 0.35);
    border-radius: 5px;
    color: #000;
}
.single-post h3{
    font-family: 'Montserrat-Regular';
    font-size: 20px;
}
.single-post .post-description{
    font-family: 'Montserrat-Light';
    font-size: 15px;
}
.single-post .single-post-option{
    background-color: rgba(255, 165, 165, 0.55);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.5s all;
}
.single-post .single-post-option-user{
    background-color: rgba(255, 165, 165, 0.55);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.5s all;
}
.single-post .single-post-option-user:hover{
    background-color: rgba(255, 165, 165, 0.95);
}
.single-post .single-post-option span{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.already-voted{
    background-color: #a09da3 !important;
    transition: 0.5s all;
    color: #444;
}
.already-voted-options{
    transition: 0.5s all;
    background-color: grey !important;
    cursor: default !important;
}